body {
  text-align: center;
  background-color: #011F3F;
  margin: 0;
}

.level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}

.container {
  width: 100%;
  height: 70%;
}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width:767px) {

  .row {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .btn {
    margin: 15px;
    height: 100px;
    width: 100px;
    border: 3px solid black;
    border-radius: 17%;
  }

  .level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 5px;
    color: #FEF2BF;
    margin-bottom: 80px;
    margin-top: 60px;
  }

}
